header {
    margin: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: cadetblue;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    margin: auto;
    max-width: 65%;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px grey;
}

body {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 65%;
    max-height: fit-content;
    min-height: 1000px;
    box-shadow: 10px 10px 5px grey;
    border: 2px lightgray;
    border-style: ridge;
    border-radius: 3px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: darkslategrey;
}

#nav-items {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 0;
}

.nav-item {
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.nav-item :hover {
    background-color: darkslategrey;
    color: black;
}

.active {
    background-color: cadetblue;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
    color: rgb(39, 65, 65);
}

#main-content {
    margin: auto;
    text-align: center;
    padding: 10px;
    max-width: 65%;
}

.content {
    margin: 10px;
    padding: 10px;
    overflow: auto;
    border-radius: 4px;
}

.sub-content {
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid darkslategrey;
    border-radius: 4px;
}

.sub-content-education {
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid darkslategrey;
    border-radius: 4px;
}